<div class="row">
  <%= form_for([@album, track], local: true) do |form| %>
    <% form.options[:html][:class] << "form-horizontal" %>
      <% if track.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:
          </h2>

          <ul>
            <% track.errors.each do |error| %>
              <li>
                <%= error.full_message %>
              </li>
              <% end %>
          </ul>
        </div>
        <% end %>
        <fieldset>
            <div class="field form-group">
              <%= form.label "Название", class: "lbl-default col-sm-2 control-label" %>
              <%= form.text_field :name, class: "small-left-interval medium-width" %>
            </div>

            <div class="field form-group">
              <%= form.label "Описание", class: "lbl-default col-sm-2 control-label" %>
              <%= form.text_area :description, class: "small-left-interval large-width no-resizable" %>
            </div>

            <div class="field form-group">
              <%= form.label "Ссылка на источник", class: "lbl-default col-sm-2 control-label" %>
                <%= form.text_field :source_link, class: "small-left-interval large-width" %>
            </div>

            <div class="fields-group">
            </div>

            <div class="field form-group">
               <%= form.label "Длительность", class: "lbl-default col-sm-2 control-label" %>
               <%= form.time_select :duration, {
                                      discard_hour: true,
                                      include_minutes: true,
                                      include_seconds: true,
                                      time_separator: ":",
                                    },
                                    { class: "extra-small-width small-left-interval small-right-interval" } %>
            </div>

            <div class="field form-group">
              <%= form.label "Теги", class: "lbl-default col-sm-2 control-label" %>
              <%= form.text_field :tags, class: "small-left-interval medium-width" %>
            </div>

            <div class="field form-group">
              <%= form.label "Прочий жанр", class: "lbl-default col-sm-2 control-label" %>
              <%= form.select :related_genres, Genre.all.collect { |genre| [genre.name] }, { "multiple": true, "data-max-options": "2" }, { class: "small-left-interval large-width selectpicker" } %>
            </div>

            <div class="field form-group">
              <%= form.label "Превью картинка", class: "lbl-default col-sm-2 control-label" %>
              <%= form.text_field :preview_picture, class: "small-left-interval large-width" %>
            </div>

            <div class="field form-group">
              <%= form.label "Ссылка на аудио", class: "lbl-default col-sm-2 control-label" %>
              <%= form.text_field :audio_link, class: "small-left-interval large-width" %>
            </div>
          
            <%= form.submit "Сохранить", class: "submit-button small-bottom-interval small-top-interval" %>
        </fieldset>
    <% end %>
</div>
