<%= stylesheet_link_tag params[:controller] %>
<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "multiselect" %>
<%= javascript_pack_tag 'submit' %>
    <div class="row">
    <%= form_for @track do |form| %>
    <% form.options[:html][:class] << 'form-horizontal' %>
      <% if track.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(track.errors.count, "error" ) %> prohibited this track from being saved:
          </h2>

          <ul>
            <% track.errors.each do |error| %>
              <li>
                <%= error.full_message %>
              </li>
              <% end %>
          </ul>
        </div>
        <% end %>
        <fieldset>
            <div class="field form-group">
              <%= form.label :name, class: "lbl-default col-sm-2 control-label" %>
              <%= form.text_field :name, class: "small-left-interval medium-width" %>
            </div>

            <div class="field form-group">
              <%= form.label :description, class: "lbl-default col-sm-2 control-label" %>
              <%= form.text_area :description, class: "small-left-interval large-width no-resizable" %>
            </div>

            <div class="field form-group">
              <%= form.label :source_link, class: "lbl-default col-sm-2 control-label" %>
                <%= form.text_field :source_link, class: "small-left-interval large-width" %>
            </div>

            <div class="fields-group">
            </div>
              <div class="field form-group">
                <%= form.label :release_date, class: "lbl-default col-sm-2 control-label" %>
                <%= form.date_select :release_date,  {
                order: [:day, :month, :year], 
                start_year: 1950, 
                end_year: Date.current.year,
                date_separator: "."
               }, 
               {:class => "small-left-interval small-right-interval"} %>
              </div>

              <div class="field form-group">
                <%= form.label :duration, class: "lbl-default col-sm-2 control-label" %>
                <%= form.time_select :duration, {
                  discard_hour: true,
                  include_minutes: true,
                  include_seconds: true,
                  time_separator: ":"
                },
                {:class => "extra-small-width small-left-interval small-right-interval"} %>
              </div>

            <div class="field form-group">
              <%= form.label :countries, class: "lbl-default col-sm-2 control-label" %>
              <%= select_tag :countries, raw(render partial: "partials/countries"), class: "small-left-interval large-width selectpicker", "multiple": true, "data-mdb-clear-button": true, "data-max-options": "3" %>
            </div>

            <div class="field form-group">
              <%= form.label :tags, class: "lbl-default col-sm-2 control-label" %>
              <%= form.text_field :tags, class: "small-left-interval medium-width" %>
            </div>

            <div class="field form-group">
              <%= form.label :main_genre, class: "lbl-default col-sm-2 control-label" %>
              <%= select_tag :main_genre, raw(render partial: "partials/genres"), class: "small-left-interval medium-width selectpicker"%>
            </div>

            <div class="field form-group">
              <%= form.label :related_genres, class: "lbl-default col-sm-2 control-label" %>
              <%= select_tag :related_genres, raw(render partial: "partials/genres"), class: "small-left-interval large-width selectpicker", "multiple": true, "data-max-options": "2" %>
            </div>

            <div class="field form-group">
              <%= form.label :performer, class: "lbl-default col-sm-2 control-label" %>
              <%= form.text_field :performer, class: "small-left-interval medium-width" %>
            </div>

            <div class="field form-group">
              <%= form.label :preview_picture, class: "lbl-default col-sm-2 control-label" %>
              <%= form.text_field :preview_picture, class: "small-left-interval large-width" %>
            </div>

  <div class="field">
    <%= form.label :preview_picture %>
    <%= form.text_field :preview_picture %>
  </div>
          
            <div class="field form-group">
              <%= form.label :age_restrictions, class: "lbl-default col-sm-2 control-label" %>
              <%= select_tag :age_restrictions, raw(render partial: "partials/age_restrictions"), class: "small-left-interval extra-small-width selectpicker"%>

            </div>
              <%= form.submit 'Submit', class: "submit-button small-bottom-interval small-top-interval"%>
              </fieldset>
          <% end %>
</div>
