<%= stylesheet_link_tag params[:controller] %>
  <%= stylesheet_link_tag "application" %>

    <%= form_with(model: track) do |form| %>
      <% if track.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(track.errors.count, "error" ) %> prohibited this track from being saved:
          </h2>

          <ul>
            <% track.errors.each do |error| %>
              <li>
                <%= error.full_message %>
              </li>
              <% end %>
          </ul>
        </div>
        <% end %>

          <div class="form-inline">
            <div class="field">
              <%= form.label :name, class: "lbl-default" %>
                <%= form.text_field :name, class: "small-left-interval medium-width" %>
            </div>

            <div class="field">
              <%= form.label :description, class: "lbl-default" %>
                <%= form.text_area :description, class: "small-left-interval medium-width" %>
            </div>

            <div class="field">
              <%= form.label :source_link, class: "lbl-default" %>
                <%= form.text_field :source_link, class: "small-left-interval large-width" %>
            </div>

              <div class="field">
                <%= form.label :release_date, class: "lbl-default" %>
                <%= form.date_select :release_date, class: "small-left-interval small-width" %>
              </div>

              <div class="field">
                <%= form.label :duration, class: "lbl-default" %>
                  <%= form.time_select :duration, class: "small-left-interval small-width" %>
              </div>

            <div class="field">
              <%= form.label :countries, class: "lbl-default" %>
                <%= form.text_field :countries, class: "small-left-interval medium-width" %>
            </div>

            <div class="field">
              <%= form.label :tags, class: "lbl-default" %>
                <%= form.text_field :tags, class: "small-left-interval medium-width" %>
            </div>

            <div class="field">
              <%= form.label :main_genre, class: "lbl-default" %>
                <%= form.text_field :main_genre, class: "small-left-interval medium-width" %>
            </div>

            <div class="field">
              <%= form.label :related_genres, class: "lbl-default" %>
                <%= form.text_field :related_genres, class: "small-left-interval medium-width" %>
            </div>

            <div class="field">
              <%= form.label :performer, class: "lbl-default" %>
                <%= form.text_field :performer, class: "small-left-interval medium-width" %>
            </div>

            <div class="field">
              <%= form.label :preview_picture, class: "lbl-default" %>
                <%= form.text_field :preview_picture, class: "small-left-interval large-width" %>
            </div>

            <div class="field">
              <%= form.label :age_rest, class: "lbl-default" %>
                <%= form.text_field :age_rest, class: "small-left-interval small-width" %>
            </div>

            <div class="actions">
              <%= form.submit %>
            </div>
          </div>
          <% end %>