<%= form_with(model: track) do |form| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
        <% track.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :source_link %>
    <%= form.text_field :source_link %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.time_select :duration %>
  </div>

  <div class="field">
    <%= form.label :countries %>
    <%= form.text_field :countries %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags %>
  </div>

  <div class="field">
    <%= form.label :main_genre %>
    <%= form.text_field :main_genre %>
  </div>

  <div class="field">
    <%= form.label :related_genres %>
    <%= form.text_field :related_genres %>
  </div>

  <div class="field">
    <%= form.label :performer %>
    <%= form.text_field :performer %>
  </div>

  <div class="field">
    <%= form.label :preview_picture %>
    <%= form.text_field :preview_picture %>
  </div>

  <div class="field">
    <%= form.label :age_restrictions %>
    <%= form.text_field :age_restrictions %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
