<div class="container">
  <h2><%= "#{@track.name} from album #{@track.album.name}" %></h2>
  <div class="inline-block">
    <%= image_tag(@track.album.image_preview_url, class: "sidebar-album-preview-image smal-right-interval") %>
    <%= label_tag @track.description, nil, class: "album-description" %>
  </div>

  <div class="album-description ">
    <p>
      <strong>Release date:</strong>
      <%= label_tag @track.album.release_date %>
    </p>

    <p>
      <strong>Duration:</strong>
      <%= label_tag @track.duration %>
    </p>

    <p>
      <strong>Countries:</strong>
      <%= label_tag @track.album.countries %>
    </p>

    <p>
      <strong>Tags:</strong>
      <%= label_tag @track.tags %>
    </p>

    <p>
      <strong>Main genre:</strong>
      <%= label_tag @track.album.main_genre %>
    </p>

    <p>
      <strong>Related genres:</strong>
      <%= label_tag @track.related_genres %>
    </p>

    <p>
      <strong>Performer:</strong>
      <%= label_tag @track.album.performer %>
    </p>

    <p>
      <strong>Preview picture:</strong>
      <%= label_tag @track.preview_picture %>
    </p>

    <p>
      <strong>Age restrictions:</strong>
      <%= label_tag @track.album.age_restrictions %>
    </p>

    <p>
      <strong>Audio link:</strong>
      <%= link_to @track.audio_link, @track.audio_link %>
    </p>

    <p>
      <strong>Source link:</strong>
      <%= link_to @track.source_link, @track.source_link %>
    </p>

    <% if current_user.try(:admin? || :editor?) %>
      <%= link_to "Edit", edit_album_track_path(@track.album, @track) %> |
      <%= link_to "Back", albums_path(@track.album) %>
    <% end %>
  </div>
</div>
