<%= stylesheet_link_tag "application" %>
<div class="row">
  <div class="medium-right-interval">
    <h1>Изменение пароля</h1>
    <hr>
    <%= form_for(resource, as: resource_name, url: registration_path(:user), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label "Пароль" %> <i>(оставьте пустым если хотите оставить без изменений)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "Подтверждение пароля" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "Текущий пароль" %> <i>(нам нужен ваш текущий пароль, чтобы подтвердить изменения)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Обновит", class: "btn btn-lg btn-block btn-primary" %>
      </div>
    <% end %>
    <hr>

    <h2>Удаление аккаунта</h2>

    <p>Unhappy? <%= button_to "Удалить мой аккаунт", registration_path(:user), class: "btn btn-danger", data: { confirm: "Are you sure? You cannot undo this." }, method: :delete %></p>

    <%= link_to "Назад", :back %>
    <hr>
  </div>
</div>
