<article>
   <p><%= label_tag comment.content, nil, class: "comment" %></p>
   <small>by <%= label_tag comment.user.email %></small><br/>
   <div class="reply-button" data-for=".comment-<%= comment.id %>">
      <%= label_tag "reply", "Reply", class: "reply" %>
   </div>
   <div class="comment-form comment-<%= comment.id %>">
      <%= render partial: "comments/form", locals: { album: comment.album, parent: comment } %>
   </div>
   <div class="sub-comment">
      <%= render comment.comments %>
   </div>
</article>

<hr class="comment-hr"/>
