<article>
   <div class="form-group inline-block">
      <div class="block">
         <%= image_tag(default_avatar(comment.user.user_profile), class: "comment-avatar-preview-image small-right-interval") %><br/>
         <div id="dropdown-comments-<%= comment.id %>">
            <% unless comment.comments.empty? %>
               <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 dropdown-sub-comments" data-for=".parent-comment-<%= comment.id %>">
                  <i class="glyphicon glyphicon-chevron-down text-muted"></i>
               </div>
            <% end %>
         </div>   
      </div>
      <div class="block">
         by <%= label_tag comment.user.user_profile.name %>
         &nbsp
         <%= label_tag time_ago_in_words(comment.created_at), nil, class: "time-ago" %><br/>
         <small><%= label_tag comment.content, nil, class: "comment" %></small>
      </div>
   </div>
   <div class="reply-button" data-for=".comment-<%= comment.id %>">
      <%= label_tag "reply", "Reply", class: "reply" %>
   </div>
   <div class="comment-form comment-<%= comment.id %>">
      <%= render partial: "comments/form", locals: { album: comment.album, parent: comment } %>
   </div>
   <div class="sub-comment parent-comment-<%= !comment.comments.empty? || comment.id %>" id="sub-comment-<%= comment.id %>">
      <%= render comment.comments %>
   </div>
</article>

<hr class="comment-hr"/>
