<%= like = current_user.likes.find_by(album: album) %>
<% unless like %>
  <%= form_tag "/likes" do |form| %>
    <% if album.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(album.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
           <% album.errors.each do |error| %>
             <li><%= error.full_message %></li>
           <% end %>
        </ul>
      </div>
    <% end %>
    <%= hidden_field :like, :album_id, value: album.id %>
    <div class="actions">
        <%= submit_tag "Submit", value: "Like", remote: true, "data-disable-with": false, class: "submit-comment-button small-bottom-interval small-top-interval" %>
    </div>
  <% end %>
<% else %>
    <%= form_tag like do |form| %>
    <% if album.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(album.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
           <% album.errors.each do |error| %>
             <li><%= error.full_message %></li>
           <% end %>
        </ul>
      </div>
    <% end %>
    <%= hidden_field :like, :album_id, name: "_method", value: "DELETE" %>
    <div class="actions">
        <%= submit_tag "Unlike", value: "Unlike", remote: true, "data-disable-with": false, class: "submit-comment-button small-bottom-interval small-top-interval" %>
    </div>
  <% end %>
<% end %>
