<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag params[:controller] %>
<div class="row user-row">
    <div class="col-xs-3 col-sm-2 col-md-6 col-lg-1">
        <img class="img-circle"
            src="https://img.flaticon.com/icons/png/512/306/306007.png?size=65x65"
            alt="User Pic">
    </div>
    <div class="col-xs-8 col-sm-9 col-md-12 col-lg-9 small-left-interval">
        <strong><%= link_to user.email, user %></strong><br>
        <span class="text-muted">Role: <%= user.role %></span>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 dropdown-user" data-for=".user-<%= user.id %>">
        <i class="glyphicon glyphicon-chevron-down text-muted"></i>
    </div>
</div>
<div class="row user-infos user-<%= user.id %>">
    <div
        class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">User information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                        <img class="img-circle main-img"
                                        src="https://img.flaticon.com/icons/png/512/306/306007.png?size=120x120"
                            alt="User Pic">
                    </div>
                    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                        <img class="img-circle"
                            src="https://img.flaticon.com/icons/png/512/306/306007.png?size=65x65"
                            alt="User Pic">
                    </div>
                    <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                        <strong><%= link_to user.email, user %></strong><br>
                        <dl>
                            <dt>User role:</dt>
                            <dd><%= user.role %></dd>
                            <dt>Registered since:</dt>
                            <dd><%= user.created_at %></dd>
                        </dl>
                    </div>
                    <div class="col-md-9 col-lg-9 hidden-xs hidden-sm">
                        <strong><%= link_to user.email, user %></strong><br>
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>User role:</td>
                                    <td><%= user.role %></td>
                                </tr>
                                <tr>
                                    <td>Registered since:</td>
                                    <td><%= user.created_at %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                    <button class="btn btn-sm btn-warning" type="button" data-toggle="tooltip"
                        data-original-title="Edit this user"><i class="glyphicon glyphicon-edit"></i></button>
                <span class="pull-right">
                    <button class="btn btn-sm btn-danger" type="button" data-toggle="tooltip"
                        data-original-title="Remove this user"><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "button") unless user == current_user %><i class="glyphicon glyphicon-remove"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>
