<h1 class="header-default"><%= "#{name(@user.user_profile)} activity" %></h1>
<div class="container-fluid">
    <h1>Месяцы</h1>
    <div class="row medium-bottom-interval">
        <%= area_chart @user_likes_create_groupped_by_monthes, download: true, title: "Количество поставленых лайков по месяцам" unless @user_likes_create_groupped_by_monthes.empty? %>
    </div>

    <div class="row medium-bottom-interval">
        <%= area_chart @user_dislikes_create_groupped_by_monthes, download: true, title: "Количество поставленых дизлайков по месяцам" unless @user_dislikes_create_groupped_by_monthes.empty? %>
    </div>

    <div class="row medium-bottom-interval">
        <%= area_chart @user_comments_create_groupped_by_monthes, download: true, title: "Количество оставленных комментариев по месяцам" unless @user_comments_create_groupped_by_monthes.empty? %>
    </div>

    <h1>Недели</h1>

    <div class="row medium-bottom-interval">
        <%= area_chart @user_likes_create_groupped_by_weeks, download: true, title: "Количество поставленых лайков по неделям" unless @user_likes_create_groupped_by_weeks.empty? %>
    </div>

    <div class="row medium-bottom-interval">
        <%= area_chart @user_dislikes_create_groupped_by_weeks, download: true, title: "Количество поставленых дизлайков по неделям" unless @user_dislikes_create_groupped_by_weeks.empty? %>
    </div>

    <div class="row medium-bottom-interval">
        <%= area_chart @user_comments_create_groupped_by_weeks, download: true, title: "Количество оставленных комментариев по неделям" unless @user_comments_create_groupped_by_weeks.empty? %>
    </div>

    <% if @user.created_at.year == Time.now.year %>
        <h1>Дни недели</h1>

        <div class="row medium-bottom-interval">
            <%= area_chart @user_likes_create_groupped_by_day_of_weeks, download: true, title: "Количество поставленых лайков по дням недели" unless @user_likes_create_groupped_by_day_of_weeks.empty? %>
        </div>

        <div class="row medium-bottom-interval">
            <%= area_chart @user_dislikes_create_groupped_by_day_of_weeks, download: true, title: "Количество поставленых дизлайков по дням недели" unless @user_dislikes_create_groupped_by_day_of_weeks.empty? %>
        </div>

        <div class="row medium-bottom-interval">
            <%= area_chart @user_comments_create_groupped_by_day_of_weeks, download: true, title: "Количество оставленных комментариев по дням недели" unless @user_comments_create_groupped_by_day_of_weeks.empty? %>
        </div>
    <% end %>
</div>
