<%= will_paginate @albums, renderer: BootstrapPagination::Rails, class: "pagination" %>

<div class="inline-block small-bottom-interval">
    <% Album.column_names.map do |attribute_name| %>
        <% if correct_attribute(attribute_name) %>
            <div class="block">
               <%= label_tag attribute_name, nil, class: "small-left-interval" %>
               <%= select_tag "Select", options_for_select(values_by_attribute(attribute_name)), { id: "#{attribute_name}", class: "small-left-interval medium-width filter" } %>
            </div>
        <% end %>
    <% end %>
</div>

<%= render "pages/albums_grid" %>

<% if current_page?(controller: "albums", action: "index") && current_user.try(:admin) %>
    <% if @albums.total_pages == @albums.current_page %>
        <div class="col-md-4 col-lg-2 item medium-bottom-interval">
            <div class = "add-album-btn-box">
                <%= link_to image_tag("add.png", alt: "Add album.", class: "add-album-btn"), new_album_path %>
            </div>
        </div>
    <% end %>
<% end %>
