<p id="notice"><%= notice %></p>
<div class="inline">
<div class = "first-element">
<%= image_tag default_avatar(@user_profile), class: "users-preview-image" %>
<div class="container user-profile-text small-top-interval">
<%= name? %>
<%= nickname? %>
<%= date_of_birthday? %>
<%= address? %>
</div>
<%= link_to "Edit", edit_user_profile_path(@user_profile) %> |
<%= link_to "Back", user_profiles_path %>
</div>
<div class="second-element">
<%= render "devise/registrations/edit" %>
</div>
</div>
