<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_profile.name %>
</p>

<p>
  <strong>Surname::</strong>
  <%= @user_profile.surname %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag default_avatar(@user_profile), class: "users-preview-image" %>
</p>

<p>
  <strong>Date of birthday:</strong>
  <%= @user_profile.date_of_birthday %>
</p>

<%= link_to "Edit", edit_user_profile_path(@user_profile) %> |
<%= link_to "Back", user_profiles_path %>
