<div class="inline container">
    <div class="first-element medium-top-interval">
        <%= image_tag default_avatar(@user_profile), class: "user-info-image" %>
        <div class="user-profile-text medium-top-interval">
            <div class="small-bottom-interval box-block">
                <%= label_tag show_name %>
                <%= label_tag show_nickname %>
                <%= label_tag show_date_of_birthday %>
                <%= label_tag show_address %>
            </div>
            <%= link_to "Edit", edit_user_profile_path(@user_profile) %>
        </div>
    </div>
    <div class="second-element">
        <%= render "devise/registrations/edit" %>
    </div>
</div>