<p id="notice">
  <%= notice %>
</p>

<% if @current_album.tracks %>
  <h1>ALBUM</h1>
  <h2>
    <%= @current_album.name %>
  </h2>
  <%= image_tag(@current_album.image_preview_url, class: "sidebar-album-preview-image" ) %>
    <%= @current_album.tracks.each_with_index do |track, counter| %>
      <div class="field form-group">
          <%= "#{counter + 1}  #{track.name}" %>
          <div class="converted-time" >
            <%= track.duration %>
          </div>
      </div>
    <% end %>
  <%= link_to "Edit" , edit_album_path(@current_album) %> |
  <%= link_to "Back" , albums_path %>
<% end %>