<%= form_with(model: album) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label "Название", class: "lbl-default col-sm-2 control-label" %>
    <%= form.text_field :name, class: "small-left-interval large-width" %>
  </div>

  <div class="field form-group">
    <%= form.label "Описание", class: "lbl-default col-sm-2 control-label" %>
    <%= form.text_area :description, class: "small-left-interval large-width" %>
  </div>

    <div class="field form-group">
        <%= form.label "Исполнитель", class: "lbl-default col-sm-2 control-label" %>
        <%= form.text_field :performer, class: "small-left-interval medium-width" %>
    </div>

    <div class="field form-group">
        <%= form.label "Жанр", class: "lbl-default col-sm-2 control-label" %>
        <%= form.select :main_genre, Genre.all.collect { |genre| [genre.name] }, {}, { class: "small-left-interval medium-width" } %>
    </div>

    <div class="field form-group">
        <%= form.label "Страна", class: "lbl-default col-sm-2 control-label" %>
        <%= form.country_select :countries, {}, { class: "small-left-interval large-width" } %>
    </div>

    <div class="field form-group">
        <%= form.label "Дата выхода", class: "lbl-default col-sm-2 control-label" %>
        <%= form.date_select :release_date, {
                               order: [:day, :month, :year],
                               start_year: 1950,
                               end_year: Date.current.year,
                               date_separator: ".",
                             },
                             { class: "small-left-interval medium-width small-right-interval" } %>
    </div>

    <div class="field form-group">
        <%= form.label "Возрастные ограничения", class: "lbl-default col-sm-2 control-label" %>
        <%= form.select :age_restrictions, AgeRestriction.all.collect { |age_restriction| ["#{age_restriction.value}+"] }, {}, { class: "small-left-interval extra-small-width" } %>
    </div>

    <div class="field form-group">
        <%= form.label "URL обложки", class: "lbl-default col-sm-2 control-label" %>
        <%= form.text_field :image_preview_url, class: "small-left-interval large-width" %>
    </div>

   <div class="actions">
      <%= form.submit "Добавить", class: "submit-button small-bottom-interval medium-top-interval" %>
   </div>
</fieldset>
<% end %>
