<%= stylesheet_link_tag "application" %>
<%= render "album_sidebar" %>

<div class="team-grid container intro text-center">
   <h1 class="header-default medium-bottom-interval">Albums</h1>
</div>

<% @albums.each do |album| %>
  <div class="col-md-4 col-lg-2 item medium-bottom-interval">
      <%= image_tag(album.image_preview_url, { class: "album-preview-image box sidebar-open-button", onclick: "getAlbum(#{album.id})", "remote": true }) %>
      <div class="album-description">
          <div class="album-name sidebar-open-button" onclick="getAlbum(<%= album.id %>)">
              <%= album.name %>
          </div>
          <div class = "album-release-date">
              <%= album.release_date %>
          </div>
          <% if current_user.try(:admin?) or current_user.try(:editor?) %>
          <%= link_to edit_album_path(album), class: "btn btn-sm btn-warning" do %>
              <i class="glyphicon glyphicon-edit glyphicon-white"></i>
          <% end %>     
          <%= link_to album_path(album), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-sm btn-danger" do %>
              <i class="glyphicon glyphicon-remove glyphicon-white"></i>
          <% end %>
          <% end %>
      </div>    
  </div>
<% end %>

<br>

<div class="col-md-4 col-lg-2 item medium-bottom-interval">
 <div class = "add-album-btn-box">
    <%= link_to image_tag("add.png", alt: "Add album.", class: "add-album-btn"), new_album_path %>
</div>
</div>
