<%= render "album_sidebar" %>

<div class="team-grid container intro text-center">
   <h1 class="header-default">Коллекция альбомов</h1>
</div>

<br/>

<div id="albums">

   <%= render "pages/pagy_filter_albums_grid" %>

</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/>

<hr class="search-results-hr" style="width:99%">

<div class="inline-block medium-top-interval">
   <div class="lbl-default">Если вы не нашли интересующие альбомы, <br/>вы можете добавить их в нашу коллекцию</div>
   <%= text_field_tag "api-albums-search-value", "", class:"large-width small-left-interval small-right-interval"%>
   <%= button_tag "Искать", id: "search-api-albums", class: "find-api-album-button" %>
</div>

<div id="searched-api-albums"></div>

<div>
   <div class="inline-block medium-top-interval medium-bottom-interval">
      <%= link_to 'Экспорт альбомов в CSV', albums_path(format: 'csv') %>
      <% if admin_or_editor? %>
         <div class="on-right">
            <%= form_tag import_to_csv_albums_path, multipart: true do %>
               <%= file_field_tag :csv_file %>
               <%= submit_tag 'Импорт из CSV', class: "small-top-interval"  %>
            <% end %>
         </div>
      <% end %>
   </div>
</div>
