<div class="container">
<% if @album.tracks %>
  <h1 class="secondary-header-default">ALBUM</h1>
  <h2>
    <div class="inline-block">
        <%= @album.name %>
        <div id="rating">
           <span class="small-left-interval stars-container stars-<%= get_rating(@album) %>">★★★★★</span>
        </div>
    </div>
  </h2>
  <%= image_tag(@album.image_preview_url, class: "sidebar-album-preview-image") %>
    <% @album.tracks.each_with_index do |track, counter| %>
      <div class="form-group">
          <%= "#{counter + 1}  #{track.name}" %>
          <div class="converted-time">
             <%= track.duration.to_s(:time) %>
          </div>
      </div>
    <% end %>
    <% if user_signed_in? %>  
    <div class="inline-block">
       <div id="like-block">
          <%= render partial: "likes/form", locals: { album: @album } %>
       </div>
       <div id="dislike-block">
          <%= render partial: "dislikes/form", locals: { album: @album } %>
       </div>
       </div>
    <% end %>
    <% if current_user.try(:admin? || :editor?) %>
        <%= link_to "Edit", edit_album_path(@album) %> |
        <%= link_to "Back", albums_path %>
    <% end %>
    <h2 class="comments-interval secondary-header-default">Comments</h2>
    <div id="comments">    
        <%= render @album.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>
    </div>
    <h2>Leave comment</h2>
    <%= render partial: "comments/form", locals: { album: @album, parent: nil } %>
<% end %>
</div>
