<div class="container">
   <% if @album.tracks %>
      <!--<h1 class="secondary-header-default">ALBUM</h1>-->
      <h2>
        <div class="inline-block">
          <%= label_tag @album.name, nil, class: "album-name small-bottom-interval" %>
          <div id="rating">
            <span class="small-left-interval stars-container stars-<%= get_rating(@album) %>">★★★★★</span>
          </div>
          <%= form_tag album_charts_path(@album), id: 'charts-form' do %>
            <% if current_user.try(:admin?) %>
               <div class="sidebar-edit-button">
                  <%= link_to "#", onclick: "$('#charts-form').submit()", class: "button glyphicon-large btn btn-lg" do %>
                     <i class="glyphicon glyphicon-stats text-success"></i>
                  <% end %>
               </div>
            <% end %>
          <% end %>
          
        </div>
        <%= label_tag @album.performer, nil, class: "album-performer small-bottom-interval" %>
      </h2>
      <div class="inline-block">
         <%= image_tag(@album.image_preview_url, class: "album-info-preview-image medium-bottom-interval") %>
         <div class="album-description-box">
           <%= label_tag @album.description, nil, class: "medium-left-interval album-description" %>
         </div>
      </div>
      <% @album.tracks.each_with_index do |track, counter| %>
         <div class="form-group">
            <div class="inline-block">
               <%= counter + 1 %>  
               &#xA0 
               <%= link_to track.name, album_track_path(@album, track) %>
               <div class="track-duration">
                  <%= track.duration.strftime("%M:%S") %>
               </div>
            </div>
            <div class="player-with-download" style="width:102%">
               <audio>
                 <source src="<%= track.audio_link %>" type="audio/mpeg">
               </audio>
             </div>
         </div>
      <% end %>
      <% if user_signed_in? %>  
         <div class="inline-block">
            <div id="like-block">
               <%= render partial: "likes/form", locals: { album: @album } %>
            </div>
            <div id="dislike-block">
               <%= render partial: "dislikes/form", locals: { album: @album } %>
            </div>
         </div>
      <% end %>
      <% if current_user.try(:admin? || :editor?) %>
         <%= link_to "Edit", edit_album_path(@album) %> |
         <%= link_to "Back", albums_path %>
      <% end %>
      <h2 class="comments-interval secondary-header-default">Comments</h2>
      <div id="comments">    
         <%= render @album.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>
      </div>
      <h2>Leave comment</h2>
      <%= render partial: "comments/form", locals: { album: @album, parent: nil } %>
   <% end %>
</div>
