<p id="notice"><%= notice %></p>

<p>
  <strong>New:</strong>
  <%= @user_album.new %>
</p>

<p>
  <strong>Create:</strong>
  <%= @user_album.create %>
</p>

<p>
  <strong>Index:</strong>
  <%= @user_album.index %>
</p>

<%= link_to 'Edit', edit_user_album_path(@user_album) %> |
<%= link_to 'Back', user_albums_path %>
