<li> <%= render "layouts/search" %> </li>
<% if user_signed_in? %>
   <% unless current_user.albums.empty? %>
      <li><%= link_to "My Playlist", user_albums_path %></li>
   <% end %>
<% end %>
<li><%= link_to "Albums", albums_path %></li>
<% if current_user.try(:admin) %>
     <li><%= link_to "Users", users_path %></li>
<% end %>
<% if user_signed_in? %>
   <li><%= link_to "Profile", current_user.user_profile %></li>
<% end %>
