<li> <%= render "layouts/search" %> </li>
<% if user_signed_in? %>
   <% unless current_user.albums.empty? %>
      <li><%= link_to "Мой плейлист", user_albums_path %></li>
   <% end %>
<% end %>
<li><%= link_to "Альбомы", albums_path %></li>
<% if current_user.try(:admin?) %>
   <li><%= link_to "Диаграммы", charts_path %></li>
   <li><%= link_to "Юзеры", users_path %></li>
<% end %>
<% if user_signed_in? %>
   <li><%= link_to "Профиль", current_user.user_profile %></li>
<% end %>
