<!DOCTYPE html>
<html>
  <head>
    <title>MusicPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
      <%= render "layouts/alerts" %>
      <div class="container unselectable">
        <%= yield %>
      <div>
  </body>
</html>
